.cont{
  .top{
    color: #FF9302;
  }
  .bottom{
    color: #FF9302;
  }
  .logo {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-image: url("../img/bainqian1.png");
    background-size: contain;
  }
  .index{
      color: brown;
  }
}
  .nav {
    a{
      margin-right: 10px;
      color: blue;
      &.selected{
        color: #f00000;
      }
    }
  }